body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overscroll-behavior: none;
    overflow: hidden;
}

#stars{
    z-index: -1; /* this ensures the canvas is behind the content */
    position: absolute;
    top: 0; /**/
}

.slider {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    color: white;
    font-family: sans-serif;
    text-align: right;
}

.slider input {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E9131D;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;  /* Adjust the font size as needed */
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffec81;
    text-shadow: #ffd900 3px 3px 5px;
}

header hr {
    width: 30vh;  /* Adjust the width as needed */
    margin: 5px auto;
    border: 1px solid #ffd900;
}

header p {
    margin: 0;
    padding-top: 10px;
    font-size: 1em;  /* Adjust the font size as needed */
    padding-bottom: 10px;
    color: #ffec81;
    text-shadow: #ffd900 3px 3px 5px;
}

#contactUsHeader{
    padding-top: 250px;
}

main {
    margin-top: 150px; /* Adjust this value based on the height of your header */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-module {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    margin-bottom: 20px;
    background-color: #ffffff; /* Card background color */
    padding: 15px; /* Spacing inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle drop shadow */
    border-radius: 5px; /* Rounded corners for the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow properties */
}

.image-module:hover {
    transform: translateY(-1px); /* Slightly elevate the card on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.65); /* Increase the shadow depth to give the elevated effect */
}

.image-module img {
    margin-right: 10px;
    width: 150px; /* Keeping image size consistent */
    height: auto;
    border-radius: 5px; /* Optionally round the corners of the image too */
}

.image-module p {
    margin: 0;
    margin-left: 1vw;
    flex: 1; /* To ensure the description occupies remaining space */
}

.text-module {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 20px;
    background-color: #ffffff; /* Card background color */
    padding: 15px; /* Spacing inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle drop shadow */
    border-radius: 5px; /* Rounded corners for the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow properties */
    margin-top: 75px;
}

.text-module-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    margin-bottom: 20px;
    background-color: #ffffff; /* Card background color */
    padding: 15px; /* Spacing inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle drop shadow */
    border-radius: 5px; /* Rounded corners for the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow properties */
    margin-top: 75px;
}

.text-module:hover {
    transform: translateY(-1px); /* Slightly elevate the card on hover */
    box-shadow: 0 0 15px #c4a700; /* Increase the shadow depth to give the elevated effect */
}

.text-module h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em; /* Adjust based on preference */
    margin-bottom: 10px; /* Add some space below the title */
}

.text-module a {
    color: #337ab7; /* Adjust color based on preference */
    text-decoration: none;
}

.text-module a:hover {
    text-decoration: underline;
}

.text-module ul {
    list-style-type: disc; /* This creates the standard bullet point */
    padding-left: 1em; /* This gives some spacing before the bullet point */
    margin-top: 0;
    margin-bottom: 0;
}

.text-module li {
    margin-bottom: 5px; /* Add some space between each bullet point */
}

